/*@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900");*/
/*@-o-viewport{zoom:1.0;width:extend-to-zoom}
@viewport{zoom:1.0;width:extend-to-zoom}
@-ms-viewport{width:extend-to-zoom;zoom:1.0}::-webkit-scrollbar{width:10px;transition:all 0.25s ease-in-out;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out}::-webkit-scrollbar-track{background:#fff;transition:all 0.25s ease-in-out;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out}.scrollable-content::-webkit-scrollbar *{background:#fff}::-webkit-scrollbar-thumb{background:#94B5C2;transition:all 0.25s ease-in-out;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out}*/

/*html{font-size:20px;padding:0;margin:0;overflow-x:hidden}*/

/*body{padding:0;margin:0;overflow-x:hidden}*/

/*.no_margen>[class*='col-']{
  padding-right:0;
  padding-left:0;
}
button,input,textarea,label,option{
  box-shadow:none;
  outline:none;
  border-radius:0;
  padding:0;
  margin:0;
}
ul,li{
  text-indent:none;
  list-style-type:none;
  padding:0;
  margin:0;
}*/

/*a,a:hover,a:active,a:visited{
  text-decoration:inherit;
  text-decoration:none;
  color:inherit;
  padding:0;
  margin:0;
}*/


/*p,h1,h2,h3,h4,h5,h6,span{
  padding:0;
  margin:0;
  -webkit-text-shadow:none;
  -moz-text-shadow:none;
  text-shadow:none;
  text-decoration:inherit;
  text-decoration:none;
  color:inherit;
}*/

.blc-space_wheel{
  width:100%;
  display:block;
  height:auto;
  padding:0rem;
}
.blc-space_wheel_flex{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -ms-flex-pack:distribute;
  justify-content:space-around;
  -ms-flex-line-pack:center;
  align-content:center;
  -webkit-box-align:stretch;
  -ms-flex-align:stretch;
  align-items:stretch;
  width:100%;
  height:auto;
  background-color:#fff;
}

.blc-article_wheel{
  background-color:#eee;
  /*padding:1rem;*/
  padding: 5px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  position:relative;
  min-height: 90px;
  min-width: 90px;
  max-height: 90px;
  max-width: 90px;
}

/* Div Absoluto para eje central */
.blc-ctr_abslt{
  position:absolute;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -ms-flex-line-pack:center;
  align-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  top:0;
  left:0;
  width:100%;
  height:100%;
  /*padding-top:1.65rem;
  padding-bottom:1.65rem;*/
}

.blc-figure_cntr{
  background-color:#cccccc; /*background-color:#cccccc;*/
  /*width:0.75rem;*/
  width: 3px;
  height:60%;
  display:inline-block;
  position:relative;
  /*new*/
  margin-top: 20%;
  margin-bottom: 20%;
  }

.blc-slot_space_blank{
  height:4rem;
  width:100%;
  display:block;
  position:relative
}

/* Rectangulo Eje */
.blc-slot_wheel{
  height: 24px;
  width:100%;
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -ms-flex-line-pack:center;
  align-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  margin-bottom:2rem
}

.blc-slot_wheel:last-of-type{
  margin-bottom:0rem
}


/* 
.blc-slot_start_point{
  display:inline-block;
  position:relative;
  height:5px;
  width: 10px;
  background-color: #cccccc;
  border-radius:2px 0 0 2px;
}

.blc-slot_end_point{
  display:inline-block;
  position:relative;
  height:5px;
  width: 10px;
  background-color: #cccccc;
  border-radius: 0 2px 2px 0;
} */

/* Barra/Cuadro Medio (para insertar armazon central) */
.blc-slot_middle{
  display:inline-block;
  position:relative;
  text-align:center;
  width: 27px;
  height: 100%;
}
.blc-slot_middle>span{
  display:inline-block;
  position:relative;
  font-size: 14px;
  margin-top: 8px;
}

/* Barra Izquierda */
.blc-slot_wheels_zone_left{
  background-color:#cccccc;
  height:3px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  position:relative;
  width:100%;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:flex-start;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center;
  
}
/* Tamaño Rueda */
.blc-slot_wheels_zone_left>span{
  font-size: 15px;
  margin-left: 2px;
  transform: scale(1,1.5);
}

.blc-slot_wheels_zone_left>span:first-child{
  margin-left: 0px;
}

/* Barra Derecha */
.blc-slot_wheels_zone_right{
  background-color:#cccccc;
  height:3px;
  display:inline-block;
  position:relative;
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:reverse;
  -ms-flex-direction:row-reverse;
  flex-direction:row-reverse;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:flex-start;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center;
   
}
/* Tamaño Rueda */
.blc-slot_wheels_zone_right>span{
  font-size:15px;
  margin-right: 2px;
  transform: scale(1,1.5);
}

.blc-slot_wheels_zone_right>span:first-child{
  margin-right: 0px;
}

.blc_h3_article_wheel{
  color:#cccccc;
  text-align:center;
  display:block;
  position:relative;
  text-transform:uppercase;
  position:absolute;
}
