/*body {
  font-family: 'Muli', sans-serif;
}*/

#footer {
    position: fixed;
    bottom: 0;
    margin-top: 40px;
    border: 0;
    border-collapse: collapse;
    left: 0px;
    text-align: left;
    width: 100%;
    z-index: 900;
}

/* IE 6 */

* html #footer {
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight: document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop))+'px');
}

.roy {
    /* display:block; no funciona en safari */
    width: 80%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.cc-divider {
    font-size: 1.5em;
    color: #757575;
    font-weight: 600;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 14px;
    padding-bottom: 6px;
    text-align: left;
}

.dropdown__link {
    position: relative;
}

.dropdown__link>img {
    position: absolute;
    margin-top: -2px;
}

.dropdown__link>span {
    margin-left: 30px;
}

.dropdown-toggle.mod_padding {
    padding-top: 13px;
    padding-bottom: 13px;
}


/* Loader */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3c8dbc;
    border-bottom: 16px solid #3c8dbc;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
    margin: auto;
    position: absolute;
    left: calc( 50% - 60px + 25px);
    top: calc( 60% - 60px );
    z-index: 900 !important;    
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.footer {
    margin-top: -10px;
}

div.footer.pull-left>div {
    margin: 3px auto auto -50px;
    position: relative;
    font-size: 80%;
    width: 200px;
}

@media (max-width: 480px){
    div.footer.pull-left>div {
        margin: 3px auto auto -50px;
        position: relative;
        font-size: 70%;
        width: 100px;
    }
}

div.footer.pull-left>:nth-child(1) {
    font-weight: bold;
}

.fecha {
    font-size: 80%;
    padding: 0;
    text-align: center;
    position: relative;
}

.hora {
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    position: relative;
    top: -6px;
}